<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvqV-koYk7odPZglR_Oe1UAsOpfS13rNg</string>
	<key>GCM_SENDER_ID</key>
	<string>352695880859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mds.mdsync</string>
	<key>PROJECT_ID</key>
	<string>mdsync-1845c</string>
	<key>STORAGE_BUCKET</key>
	<string>mdsync-1845c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352695880859:ios:3096a9ba7b923b8201ca3e</string>
</dict>
</plist>